body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.topnavbackground{
    background-color: white;
    box-shadow: 0 5px 20px #9A9A9A;
    height: 60px;
    width: 100%;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    height: 100vh;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}


.header .logo {
    text-decoration: none;
    color: black;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header ul li {
    list-style: none;
    margin-left: 30px;
}

.header ul li a {
    color: black;
    text-decoration: none;
    font-family: 'Noto Serif SC', serif;
    font-size: 20px;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
}

.header ul li a.active{
    color: white;
    background-color: black;
}

.header ul li a:hover {
    background-color: #6D6D6D;
}

nav {
    display: none;
}

@media screen and (max-width: 960px) {
    .header {
        display: none;
    }
    
    .topnavbackground{
        display: none;
    }

    .phonelogo h1 {
        padding-left: 10px;
        text-decoration: none;
        color: black;
        font-size: 25px;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
    }

    nav {
        background-color: white;
        box-shadow: 0 5px 20px #9A9A9A;
        height: 50px;
        width: 100%;
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 100;
    }

    input[type="checkbox"] {
        visibility: hidden;
        display: none;
    }

    .bar {
        position: relative;
        cursor: pointer;
        display: flex;
    }

    .bar .linemiddle {
        height: 6px;
        width: 35px;
        background-color: #A4AFB7;
        border-radius: 10px;
        position: absolute;
        right: 10px;
        transition: 0.3s ease;
    }

    .bar .linetop {
        bottom: 5px;
        height: 6px;
        width: 35px;
        background-color: #A4AFB7;
        border-radius: 10px;
        position: absolute;
        right: 10px;
        transition: 0.3s ease;
    }

    .bar .linebottom {
        top: 10px;
        height: 6px;
        width: 35px;
        background-color: #A4AFB7;
        border-radius: 10px;
        position: absolute;
        right: 10px;
        transition: 0.3s ease;
    }

    input[type="checkbox"]:checked~.bar .linetop {
        transform: rotate(-45deg);
        width: 30px;
        right: 20px;
        transform-origin: right;
    }

    input[type="checkbox"]:checked~.bar .linebottom {
        transform: rotate(45deg);
        width: 30px;
        transform-origin: left;
        right: 12px;
        top: -11px;
    }

    input[type="checkbox"]:checked~.bar .linemiddle {
        transform: translateX(20px);
        opacity: 0;
    }

    nav ul {
        position: fixed;
        width: 100%;
        background: #F3F3F3;
        top: 50px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        padding: 0;
        margin: 0;
    }

    nav li {
        display: block;
        margin: 30px 0;
        line-height: 30px;
        list-style: none;

    }

    nav a ,
    nav h2{
        color: black;
        font-size: 20px;
        text-decoration: none;
        font-family: 'Noto Serif SC', serif;
        font-weight: bold;
    }

    nav ul li a.active,
    nav ul li a:hover {
        border-bottom: 4px solid #6D6D6D;
   }

    nav ul.show {
        left: 0;
    }

    nav h2{
        display: block;
    }

    .phoneicon{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

.phoneicon i{
    font-size: 20px;
}

.footericon{
    display: none;
}

.phoneicon a i{
    text-decoration: none;
}

}